.header {
  padding: 1.5rem 2rem;
}

.collpasedHeader {
  display: flex;
 
  justify-content: space-between;
 
  align-items: center;
  min-width: 0;
}

.hearderItem {
  flex: 1;
  width: 0;
}

.preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
}

.dateTime {
  color: grey;
  white-space: nowrap;
}
