.header {
  padding: 1.5rem 2rem;
}

.headerInfo {
  display: flex;
  flex-wrap: wrap; 

  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.subInfo {
  color: grey;
}

.marginBottom {
  margin-bottom: .5rem;
}

.dropdownBtn {
  background-color: black;
  color: white;
  border-radius: 0;
}

.dropdownMenu {
  width: 120px;
}
